{% extends "base.html" %}
    {%load staticfiles %}
   {% block content %}


	<div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>Welcome to DLW Travel Allowance Calculator. </p>
        <p>Please select one of the forms below according to your travel.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->  
      <div class="row">
        <div class="col-md-4">
          <h2>TA Form</h2>
          <p>Calculate travel allowance(TA) for your journey by providing journey details </p>
          <p><a href='ta_form' class="btn btn-default">TA Form &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contingent Form</h2>
          <p>Calculate contingent allowance(CA) for your travel by providing travel details </p>
          <p><a href='contingent_form' class="btn btn-default">Contingent Form &raquo;</a></p>
       </div>
      </div>
    {% endblock %}


