{% extends "base.html" %}
   {% block content %}


	<div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>Welcome to DLW Travel Allowance Calculator. Please select oneof the forms below according to your travel.
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->  
      <div class="row">
        <div class="col-md-4">
          <h2>TA Form</h2>
          <p>Doec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a href='ta_form' class="btn btn-default">TA Form &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contingent Form</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a href='contingent_form' class="btn btn-default">Contingent Form &raquo;</a></p>
       </div>
      </div>
    {% endblock %}


